<html>
<head>

<style>

#h3{
 border-radius: 20px;
color : white;
background-color: #d9534f;
margin-top:-4px;
}
#header{
	     border-style: solid;
        width:30%;
        border-width: 3px;
        border-color: #d9534f;
        border-radius: 20px;
        line-height: 40px;
        margin-left: 20px;
        text-align: center;


}

#tablebody{
     border-spacing: 20px;

}

</style>
</head>
<body>

<div id="header">
<h3  id="h3">Add New</h3>


<table id="tablebody">

   <tr><td>Code</td><td><input type="text"><br></td></tr>
   <tr><td>Amount</td><td><input type="text"><br></td></tr>
   <tr><td>Minimum Cart Value</td><td><input type="text"><br></td></tr>
   <tr><td>Info</td><td><input type="text"><br></td></tr>
   <tr><td>Type</td><td><input type="text"><br></td></tr>
   <tr><td>Active</td><td><input type="button" value="A"><br></td></tr>
   
 <tr><td colspan="2"><input type="button" value="save" style="float:right;"></td></tr>


 </table>
 
   
</div>
   
</body>
</html>