
<style type="text/css">
	#tfheader{
		background-color:#4fbfa8;
		border-size: 1px;
		border-color: #c3dfef;
		margin:1px;
	}

	#main{
		text-align: center;
            border-style: solid;
        width:60%;
        border-width: 3px;
        border-color: #4fbfa8;

	}
	#tfnewsearch{
		float:right;
		padding:20px;
	}
        #addnew{
                float:left;
                font-size: 14px;
                width: 100px;
                height:40px;
                background-color:#d2322d;
                padding: 10px 20px 20px 20px;
                margin-left: 20px;
                border-radius: 20px;

       }


       #brandstable{
              margin-top: 10px;
              margin-left: 50px;
              border-spacing: 40px;
              

       }

       /*tr:nth-child(even) {background: #CCC}*/
/*tr:nth-child(odd) {background: #FFF}*/
	.tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}
</style>
</head>
<body><div id="main">
	<!-- HTML for SEARCH BAR -->
	<div id="tfheader">
		<form id="tfnewsearch" method="get" action="">
		        <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
		</form>
	<div class="tfclear"></div>
	</div>
        <input id="addnew" type="button" value="Add New"><br><br><br>
        <div>
        <table id="brandstable" >
             <tr><th>#</th><th>Name</th><th>InFo</th><th>Image</th><th>Active</th><th>Edit/Remove</th></tr>
             
             <tr><td>1</td><td>Estelle</td><td>Estelle</td>
             <td></td><td><input type="button" value="A" style=" width:80px;"></td><td><input type="button" value="Edit" style=" width:40px;"><input type="button" value="Delete" style=" width:55px;"></td></tr>
             
             <tr><td>2</td><td>FREECULTR</td><td>FREECULTR</td>
             <td></td><td><input type="button" value="A" style=" width:80px;"></td><td><input type="button" value="Edit" style=" width:40px;"><input type="button" value="Delete" style=" width:55px;"></td></tr>
              
              <tr><td>3</td><td>John Jacobs</td><td>John Jacobs</td>
             <td></td><td><input type="button" value="A" style=" width:80px;"></td><td><input type="button" value="Edit" style=" width:40px;"><input type="button" value="Delete" style=" width:55px;"></td></tr>
        </table>
        </div>

     </div>  
</body>
</html>